body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    display: flex;
    align-items: center;
}

header h1 img {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin-right: 16px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.checkbox-container {
    margin-bottom: 15px;
}

.checkbox-container input {
    width: auto;
    display: inline-block;
}

.checkbox-container label {
    display: inline;
}

.form-container {
    max-width: 400px;
    height: 175px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    /* Centrer la div au milieu de la page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #555;
}

/* Responsive design pour les écrans petits (tablettes) */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        justify-content: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 10px;
    }

    main {
        padding: 10px;
    }

    section {
        font-size: 18px;
    }

    section img {
        width: 80px;
    }


}

/* Pour les très petits écrans comme les smartphones en portrait */
@media (max-width: 480px) {

    header h1 img {
        width: 40px;
        /* Réduire la taille du logo */
    }

    section {
        padding: 10px;
    }

    section img {
        width: 60px;
        /* Réduire la taille des images */
    }


}